{% extends 'base.html.twig' %}

{% block title %}Medusa - Showroom Counter{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>People in Showroom: <strong>{{ data }}</strong></h1>
                    <a href="{{ path('listing') }}" class="btn btn-primary my-5">Back to Listing</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <style>
        .jumbotron {
            height: 100vh;
        }
    </style>
{% endblock %}
