{% extends 'base.html.twig' %}

{% block title %}Medusa - Showroom Clients info{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>People in Showroom: {{ data.counter }}</h1>
            <h1>Age Interval: {{ data.age }}</h1>
            <h1>Gender: {{ data.gender }}</h1>

            <a href="{{ path('listing') }}" class="btn btn-primary my-5">Back to Listing</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <style>
        .jumbotron {
            height: 100vh;
        }
    </style>
{% endblock %}
