<h1 class="jumbotron-heading">{{ title }}</h1>

{% if noTopHr is not defined %}
    <hr style="margin-top: 45px; margin-bottom: 70px;">
{% endif %}

<div class="row products">

    {% include '@App/Scenario/widgets/ajax-products.html.twig' %}

</div>

<hr style="margin-top: 45px; margin-bottom: 70px;">

{% block stylesheets %}
    <style>
        a.product s {
            text-decoration: none;
        }
    </style>
{% endblock %}