{% extends '@App/Scenario/scenario-base.html.twig' %}

{% block title %}Medusa - Person Scenario{% endblock %}

{% block body_main %}
    {% include '@App/Scenario/widgets/products.html.twig' with {title: "Recommendations for you", noTopHr: true} %}
    {% if showReload %}
        <a href="{{ path('scenario_person') }}" class="btn btn-block btn-lg btn-primary">Reload (and clear history)</a>
    {% else %}
        {{ form_start(form, {attr: {autocomplete: "off"}}) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
